alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.10
Babel==2.8.0
boto==2.49.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1b1
django-filter==2.3.0
django-heroku==0.3.1
django-storages==1.9.1
docutils==0.16
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
packaging==20.4
Pillow==9.0.0
pipenv==2020.6.2
psycopg2==2.8.5
Pygments==2.6.1
pyparsing==2.4.7
python-decouple==3.3
python-nmap==0.6.1
python3-nmap==1.4.7
pytz==2020.1
requests==2.24.0
simplejson==3.17.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.25
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
whitenoise==5.1.0
